/*
 *создание градиента http://www.cssmatic.com/gradient-generator
 */
body {
font-size: 16px;
font-family:'Indie Flower', cursive;
background: rgba(239,240,246,1);
background: -moz-linear-gradient(-45deg, rgba(239,240,246,1) 0%, rgba(239,240,246,1) 8%, rgba(150,191,197,1) 15%, rgba(175,207,209,1) 17%, rgba(239,246,239,1) 22%, rgba(194,200,229,1) 28%, rgba(202,207,232,1) 29%, rgba(239,240,246,1) 34%, rgba(195,200,229,1) 42%, rgba(166,193,211,1) 48%, rgba(167,183,213,1) 52%, rgba(167,175,215,1) 55%, rgba(189,199,223,1) 59%, rgba(205,217,229,1) 62%, rgba(184,151,190,1) 68%, rgba(185,190,212,1) 74%, rgba(175,183,217,1) 77%, rgba(170,132,189,1) 86%, rgba(174,142,195,1) 88%, rgba(198,204,230,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,240,246,1)), color-stop(8%, rgba(239,240,246,1)), color-stop(15%, rgba(150,191,197,1)), color-stop(17%, rgba(175,207,209,1)), color-stop(22%, rgba(239,246,239,1)), color-stop(28%, rgba(194,200,229,1)), color-stop(29%, rgba(202,207,232,1)), color-stop(34%, rgba(239,240,246,1)), color-stop(42%, rgba(195,200,229,1)), color-stop(48%, rgba(166,193,211,1)), color-stop(52%, rgba(167,183,213,1)), color-stop(55%, rgba(167,175,215,1)), color-stop(59%, rgba(189,199,223,1)), color-stop(62%, rgba(205,217,229,1)), color-stop(68%, rgba(184,151,190,1)), color-stop(74%, rgba(185,190,212,1)), color-stop(77%, rgba(175,183,217,1)), color-stop(86%, rgba(170,132,189,1)), color-stop(88%, rgba(174,142,195,1)), color-stop(100%, rgba(198,204,230,1)));
background: -webkit-linear-gradient(-45deg, rgba(239,240,246,1) 0%, rgba(239,240,246,1) 8%, rgba(150,191,197,1) 15%, rgba(175,207,209,1) 17%, rgba(239,246,239,1) 22%, rgba(194,200,229,1) 28%, rgba(202,207,232,1) 29%, rgba(239,240,246,1) 34%, rgba(195,200,229,1) 42%, rgba(166,193,211,1) 48%, rgba(167,183,213,1) 52%, rgba(167,175,215,1) 55%, rgba(189,199,223,1) 59%, rgba(205,217,229,1) 62%, rgba(184,151,190,1) 68%, rgba(185,190,212,1) 74%, rgba(175,183,217,1) 77%, rgba(170,132,189,1) 86%, rgba(174,142,195,1) 88%, rgba(198,204,230,1) 100%);
background: -o-linear-gradient(-45deg, rgba(239,240,246,1) 0%, rgba(239,240,246,1) 8%, rgba(150,191,197,1) 15%, rgba(175,207,209,1) 17%, rgba(239,246,239,1) 22%, rgba(194,200,229,1) 28%, rgba(202,207,232,1) 29%, rgba(239,240,246,1) 34%, rgba(195,200,229,1) 42%, rgba(166,193,211,1) 48%, rgba(167,183,213,1) 52%, rgba(167,175,215,1) 55%, rgba(189,199,223,1) 59%, rgba(205,217,229,1) 62%, rgba(184,151,190,1) 68%, rgba(185,190,212,1) 74%, rgba(175,183,217,1) 77%, rgba(170,132,189,1) 86%, rgba(174,142,195,1) 88%, rgba(198,204,230,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(239,240,246,1) 0%, rgba(239,240,246,1) 8%, rgba(150,191,197,1) 15%, rgba(175,207,209,1) 17%, rgba(239,246,239,1) 22%, rgba(194,200,229,1) 28%, rgba(202,207,232,1) 29%, rgba(239,240,246,1) 34%, rgba(195,200,229,1) 42%, rgba(166,193,211,1) 48%, rgba(167,183,213,1) 52%, rgba(167,175,215,1) 55%, rgba(189,199,223,1) 59%, rgba(205,217,229,1) 62%, rgba(184,151,190,1) 68%, rgba(185,190,212,1) 74%, rgba(175,183,217,1) 77%, rgba(170,132,189,1) 86%, rgba(174,142,195,1) 88%, rgba(198,204,230,1) 100%);
background: linear-gradient(135deg, rgba(239,240,246,1) 0%, rgba(239,240,246,1) 8%, rgba(150,191,197,1) 15%, rgba(175,207,209,1) 17%, rgba(239,246,239,1) 22%, rgba(194,200,229,1) 28%, rgba(202,207,232,1) 29%, rgba(239,240,246,1) 34%, rgba(195,200,229,1) 42%, rgba(166,193,211,1) 48%, rgba(167,183,213,1) 52%, rgba(167,175,215,1) 55%, rgba(189,199,223,1) 59%, rgba(205,217,229,1) 62%, rgba(184,151,190,1) 68%, rgba(185,190,212,1) 74%, rgba(175,183,217,1) 77%, rgba(170,132,189,1) 86%, rgba(174,142,195,1) 88%, rgba(198,204,230,1) 100%);
}
h1{
font-size: 24px;
color:#8A2BE2;
}
/** HEADER **/
#header-nav {
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,0.56) 50%, rgba(188,224,238,0.11) 100%);
  border-radius: 0;
  border: 0;
  height:100px;
}
#maintitle {
margin-top:25px;
margin-left:25px;
}
#maintitle p {
margin-top:0px;
margin-right:25px;
font-size: 20px;
}
.navbar-brand {
  padding-top: 0px;
}
.navbar-brand h1 { 
  font-family:'Indie Flower', cursive;
  color: #FFFFE0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding-right:150px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 35px;
  margin-right: 35px;
 }
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, rgba(179,220,237,0.21) 0%, rgba(41,184,229,0.61) 50%, rgba(188,224,238,1) 100%);
  border-top: 0;
  }
#email, #address {
  line-height: 2;
  }
#email > span, #address > span {
  font-size: 1.5em;
}
#address p {
  color: #557c3e;
  font-size: 1.2em;
  line-height: 2.1;
}
#address a {
  color: #191970;
  }
#email a {
  color: #191970;
  }
  #testimonials a {
  color: #FFD700;
  }
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  font-size: 1.6em;
  margin-top: 25px;
}
/* END FOOTER */

/* HOME PAGE */
div .no-gutter > [class*='col-'] {
    padding-right:10px;
    margin-left:0px;
    margin-bottom:20px;
   }
.maincont{
  width: 100%;
  height: 400px;
  top: 50%;
  left: 0%;
  margin:5px;
  position: relative; 
  float: left; 
  }
.maincontnoanim{
 width: 100%;
  height: 400px;
  top: 0%;
  left: 0%;
  margin:0px;
  border-radius:7%;
  background: linear-gradient(45deg, rgba(238,239,246,0.65) 0%, rgba(238,239,246,0.71) 8%, rgba(146,193,200,0.76) 15%, rgba(172,208,211,0.77) 17%, rgba(238,246,238,0.82) 22%, rgba(192,199,231,0.89) 28%, rgba(200,206,234,0.9) 29%, rgba(238,239,246,0.92) 34%, rgba(192,198,231,0.96) 42%, rgba(164,194,214,0.98) 48%, rgba(164,182,217,1) 52%, rgba(164,173,219,1) 55%, rgba(186,198,226,1) 59%, rgba(203,217,231,0.97) 62%, rgba(186,149,193,0.91) 68%, rgba(184,189,214,0.85) 74%, rgba(172,181,220,0.82) 77%, rgba(171,129,193,0.73) 86%, rgba(175,140,199,0.71) 88%, rgba(196,203,232,0.06) 100%);
  position: absolute; 
  float: left; 
    animation-name: rotatestar;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotatestar;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: rotatestar;
    -moz-animation-duration:4s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
}
 .heart {
  position: absolute;
  margin:0px;
  padding:0px;
  z-index: 100;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/new+folder/Colorful-Heart5.png);
  filter: hue-rotate(5deg) ;
  -webkit-filter: hue-rotate(5deg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.heart::before {
  content: "";
  position: absolute;
  margin:0px;
  padding:0px;
  z-index: 10;
  width: 305px;
  height: 300px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/new+folder/Colorful-Heart5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode:color;
  -webkit-animation: pulse 2s infinite ;
  animation: pulse 2s infinite ;
}
@-webkit-keyframes rotatestar {
 0% {opacity:0.9;
}
  50% {opacity:0.4;
}
 100% {opacity:0.8;
}
}
@keyframes rotatestar {
 0% {opacity:0.9;
}
  50% {opacity:0.4;
}
 100% {opacity:0.8;
}
}
@-moz-keyframes rotatestar {
 0% {opacity:0.9;
}
  50% {opacity:0.4;
}
 100% {opacity:0.8;
}
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 /* Lage 1440x400 ok
  * Laptop 1024x369 ok */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
   .navbar-brand {
    padding-top: 10px;
    height: 20px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 1vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
 
  }

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
   .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
}
  
