html {
}
/*
 *создание градиента http://www.cssmatic.com/gradient-generator
 */
body {
font-size: 16px;
font-family:'Indie Flower', cursive;
background: rgba(255,250,191,1);
background: -moz-linear-gradient(top, rgba(255,250,191,1) 8%, rgba(238,239,209,1) 19%, rgba(216,225,231,1) 33%, rgba(192,182,207,1) 55%, rgba(231,183,195,1) 85%, rgba(240,183,192,1) 92%);
background: -webkit-gradient(left top, left bottom, color-stop(8%, rgba(255,250,191,1)), color-stop(19%, rgba(238,239,209,1)), color-stop(33%, rgba(216,225,231,1)), color-stop(55%, rgba(192,182,207,1)), color-stop(85%, rgba(231,183,195,1)), color-stop(92%, rgba(240,183,192,1)));
background: -webkit-linear-gradient(top, rgba(255,250,191,1) 8%, rgba(238,239,209,1) 19%, rgba(216,225,231,1) 33%, rgba(192,182,207,1) 55%, rgba(231,183,195,1) 85%, rgba(240,183,192,1) 92%);
background: -o-linear-gradient(top, rgba(255,250,191,1) 8%, rgba(238,239,209,1) 19%, rgba(216,225,231,1) 33%, rgba(192,182,207,1) 55%, rgba(231,183,195,1) 85%, rgba(240,183,192,1) 92%);
background: -ms-linear-gradient(top, rgba(255,250,191,1) 8%, rgba(238,239,209,1) 19%, rgba(216,225,231,1) 33%, rgba(192,182,207,1) 55%, rgba(231,183,195,1) 85%, rgba(240,183,192,1) 92%);
background: linear-gradient(to bottom, rgba(255,250,191,1) 8%, rgba(238,239,209,1) 19%, rgba(216,225,231,1) 33%, rgba(192,182,207,1) 55%, rgba(231,183,195,1) 85%, rgba(240,183,192,1) 92%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffabf', endColorstr='#f0b7c0', GradientType=0 );
}

/** HEADER **/
#header-nav {
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,0.56) 50%, rgba(188,224,238,0.11) 100%);
  border-radius: 0;
  border: 0;
  height:100px;
}

#maintitle {
margin-top:25px;
margin-left:25px;
}
.navbar-brand {
  padding-top: 0px;

}
.navbar-brand h1 { 
  font-family:'Indie Flower', cursive;
  color: #FFFFE0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding-right:150px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 35px;
  margin-right: 35px;
 
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, rgba(179,220,237,0.21) 0%, rgba(41,184,229,0.61) 50%, rgba(188,224,238,1) 100%);
  border-top: 0;
  }
.panel-footer div.row {
  margin-bottom: 35px;
}
#email, #address {
  line-height: 2;
}
#email > span, #address > span {
  font-size: 1.5em;
}
#address p {
  color: #557c3e;
  font-size: 1.2em;
  line-height: 2.1;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  font-size: 1.6em;
  margin-top: 25px;
}
/* END FOOTER */

/* HOME PAGE */
div .no-gutter > [class*='col-'] {
    padding-right:10px;
    margin-left:0px;
    margin-bottom:20px;
   }


.imagemain{
  width: 300px;
  height: 300px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/imagemain.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:-50px;
 }
 
 .imagemain2{
  width: 300px;
  height: 300px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/smallprince22.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
.ring{
    width: 340px;
    height: 340px;
    z-index:-5;
    position: relative;
    top:10px;
    left:-60px; 
    background: white;
    animation-name: rotate, cromatic;
    animation-duration: 5s, 5s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, infinite;
    opacity: 0.5;
    box-shadow: 0 0 50px yellow;
    border-radius: 50%;
}
 @keyframes rotate{
  to
    transform: rotate(360deg)
}
@keyframes cromatic{
  0%
    {background-color: #FFFF00}
  15%
   { background-color: #008F59}
  30%
   { background-color: #2771B2}
  45%
   { background-color: #6E3795}
  60%
    {background-color: #FF0000}
  75%
    {background-color: #FF9201}
  100%
    {background-color: #FFFF00}
    }
 .start{
  width: 220px;
  height: 128px;
  opacity:0.5;
  z-index:10;
  cursor: pointer;
  background: url( https://s3.eu-central-1.amazonaws.com/marishathewicked/images/alienplanet.png);
  position:relative;
    top:40px;
    bottom:20px;
    right:40px;
      }
      
  .start:hover{
  opacity:1;
  }
  
   
 .containerforstars{
  width: 300px;
  height: 300px;
    position: relative;
    top:8px;
    left:160px;
    }
    
 .star {
   margin: 50px 0;
   position: relative;
   display: block;
   color: #f0d23c;
   width: 0px;
   height: 0px;
   border-right:  50px solid transparent;
   border-bottom: 20px  solid #f0d23c;
   border-left:   50px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
.star:before {
   border-bottom: 30px solid #f0d23c;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -20px;
   left: -25px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
   
}
.star:after {
   position: absolute;
   display: block;
   color: #f0d23c;
   top: 3px;
   left: -55px;
   width: 0px;
   height: 0px;
   border-right: 50px solid transparent;
   border-bottom: 20px solid #f0d23c;
   border-left: 50px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
 .star:nth-child(1) {
    animation-name: right, rotatestar;
    animation-duration: 3s, 5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    -webkit-animation-name: right, rotatestar;
    -webkit-animation-duration: 3s, 5s;
    -webkit-animation-timing-function: ease-in-out, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: right, rotatestar;
    -moz-animation-duration: 3s, 5s;
    -moz-animation-timing-function: ease-in-out, ease-in-out;
    -moz-animation-iteration-count: infinite, infinite;
}

.star:nth-child(2) {
   animation-name: left, rotatestar;
    animation-duration: 3s, 4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    -webkit-animation-name: left, rotatestar;
    -webkit-animation-duration: 3s, 4s;
    -webkit-animation-timing-function: ease-in-out, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: left, rotatestar;
    -moz-animation-duration: 3s, 4s;
    -moz-animation-timing-function: ease-in-out, ease-in-out;
    -moz-animation-iteration-count: infinite, infinite;
}

.star:nth-child(3) {
    animation-name: right, rotatestar;
    animation-duration: 3s, 3s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    -webkit-animation-name: right, rotatestar;
    -webkit-animation-duration: 3s, 3s;
    -webkit-animation-timing-function: ease-in-out, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: right, rotatestar;
    -moz-animation-duration: 3s, 3s;
    -moz-animation-timing-function: ease-in-out, ease-in-out;
    -moz-animation-iteration-count: infinite, infinite;
}

.star:nth-child(4) {
    animation-name: left, rotatestar;
    animation-duration: 3s, 2s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    -webkit-animation-name: left, rotatestar;
    -webkit-animation-duration: 3s, 2s;
    -webkit-animation-timing-function: ease-in-out, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: left, rotatestar;
    -moz-animation-duration: 3s, 2s;
    -moz-animation-timing-function: ease-in-out, ease-in-out;
    -moz-animation-iteration-count: infinite, infinite;
}

.star:nth-child(5) {
    animation-name: right, rotatestar;
    animation-duration: 3s, 2s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: infinite, infinite;
    -webkit-animation-name: right, rotatestar;
    -webkit-animation-duration: 3s, 2s;
    -webkit-animation-timing-function: ease-in-out, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -moz-animation-name: right, rotatestar;
    -moz-animation-duration: 3s, 2s;
    -moz-animation-timing-function: ease-in-out, ease-in-out;
    -moz-animation-iteration-count: infinite, infinite;
}

@-webkit-keyframes right {
    0% {
        transform: translate(-25px);
            }
    50% {
        transform: translate(25px);
            }
    100% {
        transform: translate(-25px);
          }
}

@-webkit-keyframes left {
    0% {
        transform: translate(25px);
            }
    50% {
        transform: translate(-25px);
            }
    100% {
        transform: translate(25px);
        }
}
@-moz-keyframes right {
    0% {
        transform: translate(-25px);
            }
    50% {
        transform: translate(25px);
            }
    100% {
        transform: translate(-25px);
          }
}

@-moz-keyframes left {
    0% {
        transform: translate(25px);
            }
    50% {
        transform: translate(-25px);
            }
    100% {
        transform: translate(25px);
        }
}
@keyframes right {
    0% {
        transform: translate(-25px);
            }
    50% {
        transform: translate(25px);
            }
    100% {
        transform: translate(-25px);
          }
}

@keyframes left {
    0% {
        transform: translate(25px);
            }
    50% {
        transform: translate(-25px);
            }
    100% {
        transform: translate(25px);
        }
}
 @-webkit-keyframes rotatestar {
  50% {opacity:0.5;
}
}
@keyframes rotatestar {
  50% {opacity:0.5;
}
}
@-moz-keyframes rotatestar {
  50% {opacity:0.5;
}
}

.window-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
.window-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.window-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
.window-open:checked ~ .window-wrap:before,
.window-open:checked ~ .window-wrap .window-overlay {
    display: block;
}
.window-open:checked ~ .window-wrap .window-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.window-dialog {
    background: #fefefe;
    border-radius: 15px;
    border: none;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.window-body {
  padding: 20px;
}
.window-body p {
    margin: 0;
    color: #A52A2A;
    font-style: italic;
    font-size: 20px;
    text-indent: 15px; 
}
.window-body input {
  outline: none;
  border: 1px solid #FFDAB9;
  border-radius: 5px;
}
.window-body input:hover{
 border: 1px solid #A52A2A;
  }
 input[type=text]:focus {
    border: 1px solid #FFA500;
    border-radius: 5px;
}
 
.window-header,
.window-footer {
    padding: 20px 20px;
}
.window-header h2 {
    font-size: 20px;
    margin: 0;
}
.window-footer {
    text-align: right;
}

.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}
.btn:hover, .btn:focus {
    background: #f2f2f2;
}
.btn-post {
    background: #FA8072;
    border-color:#E9967A;
    color: #fff;
}
.btn-post:hover{
   background: #FA8072;
    border-color:#E9967A;
    color: #fff;
    border-radius: 50%;
}
.btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
#newdiv {
    position: absolute;
    top:10px;
    margin: 0;
    color:#8B1C62;
  background: linear-gradient(to bottom, rgba(154,115,237,0) 0%, rgba(115,170,237,0.14) 16%, rgba(165,162,205,0.2) 23%, rgba(115,146,237,0.28) 32%, rgba(222,160,203,0.47) 42%, rgba(217,189,165,0.59) 48%, rgba(213,213,134,0.48) 53%, rgba(149,153,194,0.21) 65%, rgba(123,128,219,0.18) 70%, rgba(164,115,237,0.11) 83%, rgba(137,148,220,0.07) 91%, rgba(214,224,69,0.02) 100%);
    font-style: italic;
    font-size: 20px;
    text-indent: 15px;
    line-height: 1.5
}

/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 /* Lage 1440x400 ok
  * Laptop 1024x369 ok */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.imagemain{
  width: 250px;
  height: 250px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/imagemainsmalltablet.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
 .imagemain2{
  width: 250px;
  height: 250px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/smallprince22smalltablet.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
.ring{
    width: 270px;
    height: 270px;
    z-index:-5;
    position: relative;
    top:10px;
    left:0px; 
    background: white;
    animation-name: rotate, cromatic;
    animation-duration: 5s, 5s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, infinite;
    opacity: 0.5;
    box-shadow: 0 0 50px yellow;
    border-radius: 50%;
}
   
 .containerforstars{
  width: 300px;
  height: 300px;
    position: relative;
    top:8px;
    left:16px;
    }
    .start{
  width: 170px;
  height: 98px;
  opacity:0.5;
  z-index:10;
  cursor: pointer;
  background: url( https://s3.eu-central-1.amazonaws.com/marishathewicked/images/alienplanetsmall.png)no-repeat;
  position:relative;
    top:10px;
    bottom:20px;
    right:40px;
      }
  }

/********** Extra small devices only **********/
@media (max-width: 767px) {
   .navbar-brand {
    padding-top: 10px;
    height: 20px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 1vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
 .imagemain{
  width: 200px;
  height: 200px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/imagemainsmall.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
 .imagemain2{
  width: 200px;
  height: 200px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/smallprince22small.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
.ring{
    width: 220px;
    height: 220px;
    z-index:-5;
    position: relative;
    top:10px;
    left:0px; 
    background: white;
    animation-name: rotate, cromatic;
    animation-duration: 5s, 5s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, infinite;
    opacity: 0.5;
    box-shadow: 0 0 50px yellow;
    border-radius: 50%;
}
   
 .containerforstars{
  width: 200px;
  height: 200px;
    position: relative;
    top:8px;
    left:16px;
    }
    .start{
  width: 170px;
  height: 98px;
  opacity:0.5;
  z-index:10;
  cursor: pointer;
  background: url( https://s3.eu-central-1.amazonaws.com/marishathewicked/images/alienplanetsmall.png)no-repeat;
  position:relative;
    top:20px;
    bottom:20px;
    right:0px;
      }
  }

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
   .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
   .imagemain{
  width: 200px;
  height: 200px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/imagemainsmall.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
 .imagemain2{
  width: 200px;
  height: 200px;
  border-radius:150px;
  background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/smallprince22small.jpg);
  position: relative; 
  float: left; 
    top:10px;
    left:0px;
 }
 
.ring{
    width: 220px;
    height: 220px;
    z-index:-5;
    position: relative;
    top:10px;
    left:0px; 
    background: white;
    animation-name: rotate, cromatic;
    animation-duration: 5s, 5s;
    animation-timing-function: linear, linear;
    animation-iteration-count: infinite, infinite;
    opacity: 0.5;
    box-shadow: 0 0 50px yellow;
    border-radius: 50%;
}
   
 .containerforstars{
  width: 200px;
  height: 200px;
    position: relative;
    top:8px;
    left:16px;
    }
    .start{
  width: 170px;
  height: 82px;
  opacity:0.5;
  z-index:10;
  cursor: pointer;
  background: url( https://s3.eu-central-1.amazonaws.com/marishathewicked/images/alienplanetsmallex.png)no-repeat;
  position:relative;
    top:20px;
    bottom:20px;
    right:00px;
      }
}


