html {
}
/*
 *создание градиента http://www.cssmatic.com/gradient-generator
 */
body {
font-size: 16px;
 font-family: 'Mon Amour One Medium', arial;
background: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/rose3.jpg);
}
h1{
font-size:36px;
color:#8A2BE2;
margin-top: -30px;
margin-bottom: 40px;
}
/** HEADER **/
#header-nav {
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,0.56) 50%, rgba(188,224,238,0.11) 100%);
  border-radius: 0;
  border: 0;
  height:100px;
}

.navbar-brand {
  padding-top: 0px;
}
.navbar-brand h1 { 
  font-family:'Indie Flower', cursive;
  color: #FFFFE0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  padding-right:150px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 35px;
  margin-right: 35px;
 }
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, rgba(179,220,237,0.21) 0%, rgba(41,184,229,0.61) 50%, rgba(188,224,238,1) 100%);
  border-top: 0;
  }
#email, #address {
  line-height: 2;
  }
#email > span, #address > span {
  font-size: 1.5em;
}
#address p {
  color: #557c3e;
  font-size: 1.2em;
  line-height: 2.1;
}
#address a {
  color: #191970;
  }
#email a {
  color: #191970;
  }
  #testimonials a {
  color: #FFD700;
  }
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  font-size: 1.6em;
  margin-top: 25px;
}
/* END FOOTER */

/* HOME PAGE */
div .no-gutter > [class*='col-'] {
    padding-right:10px;
    margin-left:0px;
    margin-bottom:20px;
   }
.maincont{
  width: 100%;
  height: 550px;
  top: 50%;
  left: 0%;
  margin:5px;
  position: relative; 
  float: left; 
  }
.maincontnoanim{
  width: 100%;
  height: 550px;
  top: 0%;
  left: 0%;
  margin:0px;
  border-radius:7%;
  background: linear-gradient(45deg, rgba(238,239,246,0.65) 0%, rgba(238,239,246,0.71) 8%, rgba(146,193,200,0.76) 15%, rgba(172,208,211,0.77) 17%, rgba(238,246,238,0.82) 22%, rgba(192,199,231,0.89) 28%, rgba(200,206,234,0.9) 29%, rgba(238,239,246,0.92) 34%, rgba(192,198,231,0.96) 42%, rgba(164,194,214,0.98) 48%, rgba(164,182,217,1) 52%, rgba(164,173,219,1) 55%, rgba(186,198,226,1) 59%, rgba(203,217,231,0.97) 62%, rgba(186,149,193,0.91) 68%, rgba(184,189,214,0.85) 74%, rgba(172,181,220,0.82) 77%, rgba(171,129,193,0.73) 86%, rgba(175,140,199,0.71) 88%, rgba(196,203,232,0.06) 100%);
  margin: 0 auto;
position: relative;
    animation-name: rotatestar;
    animation-duration: 15s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotatestar;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: rotatestar;
    -moz-animation-duration:15s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
}

.text {
  position: absolute; 
  float: left;
  margin:0px;
  padding:0px;
  z-index: 100;
  width: 100%;
  height: 400px;
  top:0%;
 } 
 
 .text p{
  margin:10px 20px 0px 20px;
  color:#104E8B;
  font-size: 1.05em;
  line-height: 1.35;
  text-indent: 1.5em;
 }
 
 .lotus {
  position: absolute;
  margin:0px;
  padding:0px;
  z-index: 100;
  top: 87%; left: 80%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/rose.png);
  filter: hue-rotate(5deg) ;
  -webkit-filter: hue-rotate(5deg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
}

.lotus::before {
  content: "";
  position: absolute;
  margin:0px;
  padding:0px;
  z-index: 10;
  width: 155px;
  height: 150px;
  background-image: url(https://s3.eu-central-1.amazonaws.com/marishathewicked/images/rose.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode:color;
  -webkit-animation: 4s infinite;
  animation: 4s infinite;
  animation-name: pulse, rotatestar;
  -webkit-animation-name: pulse, rotatestar;
}

@-webkit-keyframes rotatestar {
 0% {opacity:1;
}
  50% {opacity:0.7;
}
 100% {opacity:1;
}
}
@keyframes rotatestar {
 0% {opacity:1;
}
  50% {opacity:0.7;
}
 100% {opacity:1;
}
}
@-moz-keyframes rotatestar {
 0% {opacity:1;
}
  50% {opacity:0.7;
}
 100% {opacity:1;
}
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -moz-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* END HOME PAGE */

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 /* Lage 1440x400 ok
  * Laptop 1024x369 ok */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
   .navbar-brand {
    padding-top: 10px;
    height: 20px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 1vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }
 .text p{
   margin:30px 30px 10px;
   color:#104E8B;
  font-size: .75em;
  line-height: 1.35;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .8em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  }

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
   .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
 .text p{
   margin:30px 30px 10px;
   color:#104E8B;
  font-size: .6em;
  line-height: 1.35;
}
